<ion-view  title='demo project'>    
	<ion-header >
	  	<!-- <ion-nav-bar class = "bar bar-header bar-header-css">	  	
		  	<ion-nav-buttons side="left" class="header-item nav-head" style="background-color: black;width:100">
		  		<button class="button button-icon icon ion-navicon-round" menu-toggle="left"></button>
		    	<div class="title title-center header-item"> Civil Services</div>
			</ion-nav-buttons>
		  	<ion-nav-buttons side="right" class="header-item nav-head" style="background-color: black;width:100">	  
			    <button ion-button class= "nav-button" ng-click="home()">Home</button>
			    <button ion-button class= "nav-button" ng-click="home()">Services</button>
				<button ion-button class= "nav-button" ng-click="home()">Gallary</button>
				<button ion-button class= "nav-button" ng-click="home()">about</button>
				<button ion-button class= "nav-button" ng-click="home()">Contact</button>			
		    </ion-nav-buttons>	
	  	</ion-nav-bar> -->
	  	<nav class="navbar navbar-expand-md navbar-light fixed-top bar-header-css"> 	
	  		
	  		<button class="navbar-toggler navbar-toggler-left button-icon icon" data-toggle="collapse" data-target="#nav" style="color: #ccc;background-color:#000" ng-click="round = !round" ng-class="round ? 'ion-close-round':'ion-navicon-round'">	  			
	  		</button>
		  	<ul class="nav navbar-nav text-center header-item">
			    <div class="nav-item title title-center header-item"> Civil Services</div>
			</ul>		  		
	  		<div class="collapse navbar-collapse justify-content-end" id="nav">
	  			<ul class="navbar-nav nav-css  justify-content-end">
	  				<li class="nav-item-btn" >
	  					<button ion-button class= "nav-button" ng-click="home()">Home</button>
	  				</li>
	  				<li class="nav-item-btn" >
	  					<button ion-button class= "nav-button" ng-click="home()">Services</button>
	  				</li>
	  				<li class="nav-item-btn">
	  					<button ion-button class= "nav-button" ng-click="home()">Gallary</button>
	  				</li>
	  				<li class="nav-item-btn">
	  					<button ion-button class= "nav-button" ng-click="home()">About Us</button>
	  				</li>
	  				<li class="nav-item-btn">
	  					<button ion-button class= "nav-button" ng-click="home()">Contact</button>
	  				</li>
	  			</ul>	  		
	  		</div>
	  	</nav>

	</ion-header>
	<ion-content scroll="auto" style="top:45px" class ="body">		    	
            <ion-slide-box  auto-play="true">
                <ion-slide>    
	                 <div class="home-slide">
	                 	<div class="slide-css back-img1">
	                 		<div class="col z-inx">
								<h1 class="header">Ashok Pluming And Civil Works</h1>
								<p class="sub-header">All type of civil repair and maintenance works KDMC licence holder......Peculier since 30 years</p>
							</div>
							<div class="bor-des"></div>
						</div>
	                 </div>                
                </ion-slide>
                <ion-slide>    
	                 <div class="home-slide">
	                 	<div class="slide-css back-img2">
	                 		<div class="container">
  								<div class="row">
			                 		<div class="col z-inx">
										<h3>Services Provided By Us</h3>
										<p>Civil Structural Audits, RCC Structure/Building designing, Structural repairing, Tiling, Plumbing, Painting, Interior designing,construction</p>		
									</div>									
									<div class="bor-des"></div>
								</div>
							</div>
							
						</div>
	                 </div>                
                </ion-slide>
                <ion-slide>    
	                 <div class="home-slide">
	                 	<div class="slide-css back-img3">
	                 		<div class="col z-inx">
								<h3>Here dream comes true....Specialized In...</h3>
								<p>KDMC approved structural engineer and civil engineer contractors, PWD licence holder civil engineer, Repairing work as per structural Audit</p>
							</div>
							<div class="bor-des"></div>
						</div>
	                 </div>                
                </ion-slide>               
            </ion-slide-box>
        </div>
        <div class="about">            	
            <span class="sc-con">We Are Creative in Every civil Work </span>
            <button class="button button-assertive button-outline sc-button" >
            	<ion-ripple-effect></ion-ripple-effect>
            	Read More
            </button>  
        </div>
        <div class="services"> 
	        <div class="row servicerow">        	
	        	<div class ="col col-50 col-sm-100 servicedata">
	        		<h3><span>W</span>e<span> A</span>re</h3>
	        		<div>EXPERT IN FOLLOWING WORKS
	        		</div>
	        	</div>
	        	<div class ="col col-50 col-sm-100 servicedata">fewfq</div>            
	        </div>
	        <div class="row servicerow">
	        	<div class ="col col-50 servicedata">sfw</div>
	        	<div class ="col col-50 servicedata">qwf</div> 
	        </div>
	    </div>

      
	</ion-content>
</ion-view>