<ion-view  title='demo project'>    
	<ion-header >
	  <ion-nav-bar class = "bar bar-header bar-header-css">
	  	
	  	<ion-nav-buttons side="left" class="header-item nav-head" style="background-color: black;width:100">
	  		<button class="button button-icon icon ion-navicon-round" menu-toggle="left"></button>
	    <div class="title title-center header-item"> Civil Services</div>
			</ion-nav-buttons>
	  	<ion-nav-buttons side="right" class="header-item nav-head" style="background-color: black;width:100">
	  
	    <button ion-button class= "nav-button" ng-click="home()">home</button>
		<button ion-button class= "nav-button" ng-click="home()">Gallary</button>
		<button ion-button class= "nav-button" ng-click="home()">about</button>
		<button ion-button class= "nav-button" ng-click="home()">about</button>
		<button ion-button class= "nav-button" ng-click="home()">blogs</button>
	    </ion-nav-buttons>
	
	  </ion-nav-bar>
	</ion-header>
	<ion-content scroll="true">		
            <ion-slide-box  auto-play="false" style="top:45px">
                <ion-slide>    
	                 <div class="home-slide">
	                 	<div class="slide-css back-img1">
							<h1 class="header" style="z-index: 1">Ashok Pluming And Civil Works</h1>
							<p class="sub-header"  style="z-index: 1">All type of civil repair and maintenance works KDMC licence holder......Peculier since 30 years</p>
							<div class="bor-des"></div>
						</div>
	                 </div>                
                </ion-slide>
                <ion-slide>    
	                 <div class="home-slide">
	                 	<div class="slide-css back-img2">
	                 		<div col-50>
								<h3>Services Provided By Us</h3>
								<p>Civil Structural Audits, RCC Structure/Building designing, Structural repairing, Tiling, Plumbing, Painting, Interior designing,construction</p>
								<div class="bor-des"></div>
							</div>
							<div col-50>
								<h3>Services Provided By Us</h3>
								<p>Civil Structural Audits, RCC Structure/Building designing, Structural repairing, Tiling, Plumbing, Painting, Interior designing,construction</p>
								<div class="bor-des"></div>
							</div>
							
						</div>
	                 </div>                
                </ion-slide>
                <ion-slide>    
	                 <div class="home-slide">
	                 	<div class="slide-css back-img3">
							<h3>Where dream comes true</h>
							<p>A home interior which everyone desires to have. </p>
							<div class="bor-des"></div>
						</div>
	                 </div>                
                </ion-slide>               
            </ion-slide-box>
      
	</ion-content>
</ion-view>