<ion-modal-view  class="modal-view">
   <ion-header-bar>
      <h1 class = "modal-content">Creativity at its best.</h1>
      <button class = "button icon icon-right ion-close modal-content1"
         ng-click = "closeModal()"></button>
   </ion-header-bar>
	
   <ion-content>
   		<div class="modal-content-header">			
	   		<img src="../../assets/img/civilengineer-serve.jpg" alt=" " class="img-responsive">   
	   		<h5>WE ARE EXPERT IN FOLLOWING WORKS:-</h5> 	        
            <ol class="ol-li">
               <li>All Type of Structural Repairs and Maintenance works of RCC Buildings as per structural Audit/ As indicated by Society. </li>
               <li> Overhead/Underground Water Tank, Pump room Construction and Repairs</li>
               <li> Waterproofing of Terrace, Waterproofing of Water Tanks, External Plaster and patch works</li>
               <li> Soling Coba/ P.C.C, Paver Fixing</li> 
               <li> Plumbing Main line water Connection from K.D.M.C,Waste and Rain water drain</li>
               <li> Internal and External Sewer Drainage System & Storm Water Drains</li>
               <li> Internal and External Water Supply, Sanitary work</li>
               <li> Internal, External Tiles fixing work</li>
               <li> Internal and External Painting work</li>
               <li> Terrace shed fixing, Grill fixing etc</li>
            </ol>
			
		</div>
   </ion-content>
</ion-modal-view>