<ion-modal-view  class="modal-view">
   <ion-header-bar>
      <h1 class = "modal-content">Creativity at its best.</h1>
      <button class = "button icon icon-right ion-close modal-content1"
         ng-click = "closeModal()"></button>
   </ion-header-bar>
	
   <ion-content>
   		<div class="modal-content-header">			
	   		<img src="../../assets/img/b1.jpg" alt=" " class="img-responsive">   
	   		<h5>Expert at interior designs</h5> 
	        <p>Get one of the best designer minds to work in your house to make it a perfect modernised home. From modern plumbing to high end lights that will make your wall having the texture worth staring at.
			<br>Working for both residentials as well as corporat sectors, we make sure your home / office looks well presentable for the viewer.
			</p>			
		</div>
   </ion-content>
</ion-modal-view>n