<ion-modal-view  class="modal-view">
   <ion-header-bar>
      <h1 class = "modal-content tb-body">OUR RECENT PROJECT</h1>
      <button class = "button icon icon-right ion-close modal-content1"
         ng-click = "closeModal()"></button>
   </ion-header-bar>
	
   <ion-content>
         <div class="modal-content-header">        
            <img src="../../assets/img/o-services.jpg" alt=" " class="img-responsive">   
            <h5 style="color: #ac2c35;">  LIST OF SOME MAJOR JOBS CARRING BY US.</h5> 
            <table class="table-bordered container-fluid">
               <tr class="row">
                  <th class="col col-40 tb-header">Name Of Society/Building With Location</th>
                  <th class="col col-40 tb-header">Work Done</th>
                  <th class="col col-20 tb-header">Year</th>
                  <!-- <th class="col col-25 tb-header">Amount In Rupees</th> -->
               </tr>
           
               <!-- <tr>
                  <td>Meghdoot co. op. Housing Society,Tilaknagar, Dombivli East.</td>
                  <td>Structural Repairing, External Plaster,External Paint.</td>
                  <td>2005</td>
                  <td>12,00,000/-</td>
               </tr> -->
                <tr ng-repeat="item in recentProj" class="row">
                  <td class="col col-40 tb-body">{{item.name}}</td>
                  <td class="col col-40 tb-body">{{item.work}}</td>
                  <td class="col col-20 tb-body">{{item.year}}</td>
                  <!-- <td class="col col-25 tb-body">{{item.cost}}</td> -->
               </tr>
               <tr class="row"> 
                  <td class="col col-100 text-center tb-body"> 
                     <div style="font-size: 16px;color: blueviolet;padding: 10px">Our Customers Happiness Can’t be judge by money...</div>
                  <div style="background: yellow;font-size: 18px;font-weight: bolder;margin-bottom: 10px;">Government License Holder Civil Contractors, Plumbers and RCC Building Designers.</div>
               </td>
               </tr>          
            </table>    
         </div>
   </ion-content>
</ion-modal-view>