<ion-modal-view  class="modal-view">
   <ion-header-bar>
      <h1 class = "modal-content tb-body">SERVICES</h1>
      <button class = "button icon icon-right ion-close modal-content1"
         ng-click = "closeModal()"></button>
   </ion-header-bar>
	
   <ion-content>
         <div class="modal-content-header">        
            <img src="../../assets/img/services.jpg" alt=" " class="img-responsive">   
            <h5 style="color: #ac2c35;"> WE EXECUTED WORK FOR FOLLOWING CATEGORY OF PROJECTS:-</h5>          
            <ol class="ol-li" style="color: #ac2c35;">
               <li> Residential/Commercial buildings </li>
               <li> Schools Buildings</li>
               <li> Banks</li>
               <li> Bunglows</li> 
            </ol>
         
      </div>
   </ion-content>
</ion-modal-view>