.nav-head{width: 100%; height: 45px; display: flex; background: black; padding: 0 20px;}
.nav-button{color: white; background: black; border: none; padding: 0 10px;}
.nav-button:hover {color: #b5b2b2;}
.bar-header-css{background-color:#000 !important;}
.header-item{color: #fff;}
.slide-css{top:45px;width:100%;height:40vw;padding: 10vw;color:#fff;}
.slide-css h3{color:#fff !important;}
.back-img1{background-image: url("../img/b1.jpg");background-size: 100% 100%;}
.back-img2{background-image: url("../img/b2.jpg");background-size: 100% 100%;}
.back-img3{background-image: url("../img/b3.jpg");background-size: 100% 100%;}
.header{color:#fff !important;  font-family: "Times New Roman", Times, serif; text-align:center;font-size: 5vw;font-style: italic;border: 1px dotted;}
.sub-header{color:#fff !important;  font-family: "Times New Roman", Times, serif; text-align:center;font-size: 2vw;}
.bor-des{border: 1vw solid rgba(0, 0, 0, 0.69);position: absolute;margin: 0 5%;width: 70%;height: 25vw;top: 5vw;opacity: 0.7;}